html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  color: #121212;
  background-color: #071108;
  /* background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTdjNThjam1wN3NkZHE1ZXJhMW5jb2M2OTI2NXFzZndmNGNscTM5ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Pv8Sc5qmruFwfmJKre/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main.card {
  width: clamp(320px, 100vw, 320px);
  height: clamp(480px, 100vh, 480px);
  transform: translateY(-5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 14px;
  border: 8px solid #1c98bb;
  border-radius: 25px;
  background: linear-gradient(-135deg, #6e9b3e 0%, 40%, #8ab355 50%, #a4f041 60%, 65%, #8ab355 75%, #6e9b3e 100%);
  background-position: 100% 0%;
  background-size: 500% 500%;
  animation: shimmer 2s linear forwards;
  animation-fill-mode: forwards;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
      background-position: 50% 50%;
    }
  100% {
      background-position: 100% 0%;
    }
}

.card:has(.trans-butt:active) {
  animation: none;
}

.card:not(:has(.trans-butt:active)) {
  animation-play-state: running;
  animation-iteration-count: 1;
}

.name-header {
  width: 262px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-7px);
}
  
h1 {
  font-size: 34px;
  letter-spacing: 0.75px;
}

.avatar {
  position: relative;
}

.dino-img {
  width: 250px;
  border: 3px solid #121212;
  transform: translateY(-7px);
}

.bird-img {
  width: 250px;
  border: 3px solid #121212;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-7px);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.trans-butt:active + .bird-img {
  opacity: 1;
  transition: opacity 0s ease-in-out;
}

.trans-butt {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -53.5%);
  background-color: transparent;
  border: none;
}

.info-footer {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translateY(-15px);
}

.job-title h2 {
  font-size: 32px;
  letter-spacing: 2.25px;
}

.job-title {
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.below-job {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateY(-3px);
}

.github,
.gmail {
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.gmail {
  transform: translateY(-7px);
}

.github h2,
.gmail h2 {
  font-size: 26px;
}

.github h2 {
  letter-spacing: 1.50px;
}

.gmail h2 {
  letter-spacing: 2.25px;
}