html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #071108;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main.card {
    width: clamp(320px, 100vw, 320px);
    height: clamp(480px, 100vh, 480px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(-135deg, #6e9b3e 0%, 40%, #8ab355 50%, #a4f041 60%, 65%, #8ab355 75%, #6e9b3e 100%);
    background-size: 500% 500%;
    animation: shimmer 3s linear forwards;
    animation-play-state: paused;
}

@keyframes shimmer {
    0% {
      background-position: 100% 0%;
    }
    25% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 0% 100%;
    }
    75% {
        background-position: 50% 50%;
      }
    100% {
        background-position: 100% 0%;
      }
}

.card:has(.dino-img:hover) {
  animation-play-state: running;
  animation-iteration-count: 1;
}

.card:not(:has(.dino-img:hover)) {
  animation: none;
}
  
.name-header {
    font-size: 1.25em;
}

.dino-img {
  width: 225px;
}

