html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #071108;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 90vw;
    max-width: 500px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    text-align: center;
    background: #6e9b3e;
    color: #1a1b1f;
    border: 6px solid transparent;
    border-radius: 25px;
    animation: gradientAnimation 30s linear infinite;
    transform: translateY(-25%);
}

@keyframes gradientAnimation {
    0% {
        box-shadow: 0 0 0 6px #1c98bb;
    }
    25% {
        box-shadow: 0 0 0 6px #94a89a;
    }
    50% {
        box-shadow: 0 0 0 6px #364652;
    }
    75% {
        box-shadow: 0 0 0 6px #94a89a;
    }
    100% {
        box-shadow: 0 0 0 6px #1c98bb;
    }
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.img-cont {
    position: relative;
    display: inline-block;
}

.dino {
    display: block;
    width: 150px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    animation: glowing 7s infinite;
}

.chick {
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.img-cont:hover .chick {
    opacity: 1;
}

@keyframes glowing {
    0% { box-shadow: 0 0 7px #1c98bb; }
    50% { box-shadow: 0 0 17px #81e9f2; }
    100% { box-shadow: 0 0 7px #1c98bb; }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

